body{
    display: flex;
    justify-content: center;
}
.container{
    margin-top: 10rem;
    border: 1px solid #000000;
    padding: 1rem 3rem;
    border-radius: 5px;
    font-size: 2rem;
    box-shadow: 10px 5px 10px rgb(228, 36, 36);
}
.button {
    width: 13rem;
    font-size: 1.5rem;
    border-radius: 5px;
    text-align: center;
    background: #000000;
    color: #FFFFFF;
    cursor: pointer;
    padding: 0.5rem 2rem;
    margin: 1rem ;
}
    
